#app {
  display: grid;
  grid-template-columns: 51.25% 48.75%;

  height: 100vh;
  overflow: hidden;
}

main {
  overflow: auto;
  padding: 4rem; /*dividir o px que eu quero sempre por 16. no caso aqui quero 64px entao 64/16 = 4 */

  & .main-container {
    max-width: 33rem;
    margin-left: auto;
  }

  & .back {
    display: flex;
    align-items: center;
    gap: .5rem;
    margin-bottom: 1.5rem;
  }

  & h1 {
    font: 600 1.5rem/1.25 var(--font-family);
    margin-bottom: .5rem;
  }
}

aside {
  background-color: var(--surface-secondary);
  padding: 4rem;

  & .aside-container {
    max-width: 31rem;

    & > img {
      margin-top: 2rem;
    }
  }

  & h2 {
    font: 600 2.5rem/1.25 var(--font-family);
    margin-bottom: .5rem;

    & span {
      color: var(--text-highlight);
    }
  }
}

@media screen and (max-width: 430px) {

  body {
    overflow: visible;
  }

  main {
    padding: 24px;
  }

  .flex {
    flex-direction: column;
  }
  
  #app {
    display: flex;
    flex-direction: column-reverse;
    height: auto;
  }

  aside {
    padding: 24px;
    text-align: center;
  }

  .terms-wrapper label {
    font-size: 16px;
  }

  .actions-wrapper {
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-inline: 24px;

    & button {
      height: 2rem;
      max-width: 19.5rem;
      width: 100%;
      text-align: center;
    }

    button.btn-secondary {
      margin-left: 0;
    }
    
  }

  

}